@model IEnumerable<ProductModel>
<div class="features_items">
    <h2 class="title text-center">Features Items</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-5">
            <div class="card">
                <img src="media/products/@item.Image" class="card-img-top" alt="Apple iPhone 15 Pro Max">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">@item.Name</h5>
                    <div class="mb-3">
                        <span class="text-danger fw-bold fs-5">24.690.000 - 50.390.000 đ</span>
                    </div>
                    <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id" class="btn btn-info text-white fw-bold">So sánh giá</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="category-tab"><!--category-tab-->
    <div class="col-sm-12">

    </div>

</div><!--/category-tab-->

<div class="recommended_items"><!--recommended_items-->
    <h2 class="title text-center">recommended items</h2>
</div><!--/recommended_items-->


